.techx {
    padding: 150px;
    position: sticky;
    height: 100px;
    justify-content: center;
    margin: auto;
}

.techx-image {
    height: 50px;
    position: sticky;
    margin: auto;
}

.pickle-club {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
}

.pickle-image {
    height: 30px;
}

.fever {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
}

.gwc {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
}

.gwc-image {
    height: 40px;
}