.techx {
    padding: 150px;
    position: sticky;
    height: 100px;
}

.techx-img {
    height: 30px;
    position: sticky;
    padding: 1000px, 50px;
    margin: auto;
}

.techx-content {
    height: 100px;
    width: 200px;
    vertical-align: middle;
    display: inline;
    flex: auto;
}

.techx-header {
    margin: 30px 80px;
    background-color: black;
}

.pickle-club {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
}

.gwc {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
}