.credit-karma {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
    border: 10px solid white;
}

.ck-header {
    padding: 30px;
    vertical-align: middle;
    display: inline;
}

.ck-photo {
    height: 30px;
    left: -100px;
}

.ck-text {
    padding: 10px;
}

.ta {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
    border: 10px solid green;
}

.ra {
    padding: 150px;
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 100px;
}